In [1]:
import pandas as pd
import glob
import os

In [2]:
path = 'C:\\Users\\framir4\\Desktop\\mtl-air-quality-main'

csv_files = glob.glob(os.path.join(path, '*.csv'))
air = pd.concat((pd.read_csv(f) for f in csv_files), ignore_index = True)

In [4]:
#Write datetime column
air['heure'] = air['heure'].astype(str).str.zfill(2)
air['corDate'] = air['date'].astype(str) + ' ' + air['heure'].astype(str)
air['DateTime'] = pd.to_datetime(air['corDate'], format='%Y-%m-%d %H')
air = air.drop(['date','heure','corDate'], axis=1)
air.sort_values(by='DateTime', inplace = True)

In [5]:
air

         stationId polluant  valeur            DateTime
1958            66       PM       5 2007-01-01 00:00:00
1727             1      SO2       1 2007-01-01 00:00:00
1965            99      NO2       2 2007-01-01 00:00:00
1964            99       O3      12 2007-01-01 00:00:00
1963            99       PM      10 2007-01-01 00:00:00
...            ...      ...     ...                 ...
1923296         17      NO2       4 2023-02-05 23:00:00
1923301         17       PM      30 2023-02-05 23:00:00
1923343         28       CO       2 2023-02-05 23:00:00
1923390         50       PM      28 2023-02-05 23:00:00
1923289          6       PM      29 2023-02-05 23:00:00

[2191773 rows x 4 columns]